body {
	background: url(http://cdn.shopify.com/s/files/1/0169/1980/products/iPhoto-6_71e34a82-9ff6-4ea1-8f18-20a6fa24cf4c_grande.jpg?v=1415152812) no-repeat;
	background-size:cover;
	margin: 0;
}


div {
	text-align: center;
}

h1 {
	color: purple;
  	background: purple;
  	font-size: 45px; 
  	font-weight: normal;
  	font-family: cursive;
  	text-align: center;
  	border:2px dotted black;
  	padding: 10px;
  	background: plum;
  	padding-top: 10px;
  	padding-bottom: 10px;
  	padding-left: 5px
  	padding-right: 5px;
  	width: 750px;
  	margin: auto;

}


h2 {
  text-align: center;
  color: green;
  background:plum;
  border:1px solid black;
}

h4 {
	text-align: center;
	color:aqua;
	background:plum;
	border:1px solid black;
}



p { 
	text-align: center;
	color: blue;
	font size: 25px;
	font-weight: lighter;
	font-family: 'Lato', sans-serif;
	background:plum;
	border: 1px solid black;
}


#selfaware {
	color:red;
	font-size: bold
}


.text-center {
	text-align:center;
}


#biolist {
	border:3px solid black;
	background: plum;
	padding: 5px;
	margin: auto;
	text-align: center;
}


 } 
