html {
  background: url(images/Header1.JPG) fixed;
  background-size: cover;
}

#navigation {
  font-size: 25px;
  font-family: "Rouge Script", cursive;
  background: black;
  color: white;
  padding: 5px;
}

#navi {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

a {
  color: white;
  text-decoration: none;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "Rouge Script", cursive;
  font-size: 250px;
  font-weight: lighter;
  text-align: center;
  margin: 0;
}

h3 {
  text-align: center;
  margin: -200px;
  font-size: 250px;
  font-family: "Nosifer", cursive;
  color: red;
}

#container {
    padding: 150px 10px;
}

h4 {
    background: slategray;
    color: black;
    font-family: "Rouge Script", cursive;
    font-size: 40px;
}

#section {
  background: black;
  color: white;
}

#faq {
  background: black;
  color: white;
  list-style: none;
}
